


/*--------------------
-------mainPicture-------
--------------------*/
.left{
}
.onPic{
	height: 100%;
	width: 120%;
	opacity: 0;
	margin-left: -15%;
	background-color: #fff;
}
.onPic:hover{
	opacity: 0.3;
}
/*--------------------
-------mainInfo-------
--------------------*/

#main .info{
	padding-top: :120px;
	padding-bottom: 120px;
}
.myPhoto .image {
	margin-top: 100px;
	margin-left: 100px; 
	height: 120px;
	width:120px;
	border-radius: 100px 100px 100px 100px;
}
.myPhoto .image:hover{
	opacity: 0.4;
}
.info .text{
	margin-left: 100px;
}
.info h1{
	margin-top: 50px;
}
.info p{
	color: gray;
	font-size: 18px;
	margin-top: 40px;
}
.info .fa-facebook-square{
	margin-right: auto;
}
.info .fa-linkedin-square{
	margin-left: 10%;
}
.info .social{
	width:300px;
    border-top: 1px solid gray;
	padding-top: 20px;
	margin-top: 100px;
}
.info a{
	color: inherit;
	text-decoration:none; 
}
